{
  "packages/components/src/**/*.{js,jsx,ts,tsx}": [
    "eslint --ext .js,.jsx,.ts,.tsx packages/components/src/**/**/*.{js,jsx,ts,tsx} --fix",
    "prettier --write \"packages/components/src/**/**/*.{js,jsx,ts,tsx}\"",
    "git add"
  ],
  "packages/library/src/**/*.{js,ts}": [
    "eslint --ext .js,.ts packages/library/src/**/**/*.{js,ts} --fix",
    "prettier --write \"packages/library/src/**/**/*.{js,ts}\"",
    "git add"
  ],
  "packages/setup/src/**/*.{js,ts}": [
    "eslint --ext .js,.ts packages/setup/src/**/**/*.{js,ts} --fix",
    "prettier --write \"packages/setup/src/**/**/*.{js,ts}\"",
    "git add"
  ],
  "packages/components/src/**/*.scss": [
    "stylelint \"packages/components/src/**/**/*.scss\" --custom-syntax=postcss-scss --fix",
    "prettier --write \"packages/components/src/**/**/*.scss\"",
    "git add"
  ]
}
